@using BlazorView.Data
@using System
@using Newtonsoft.Json

@inject FetchJobListingsFromDb JobListingsService

<PageTitle>JobListings</PageTitle>
<h3>Listings</h3>
@foreach (var item in advertisementList)
    {
        <section class="listing">
    <h5>@item.Title</h5>
            <p>@((MarkupString)item.Description)</p>
        </section>
    }

@code {
    IEnumerable<Advertisement> advertisementList = new List<Advertisement>();
    string advertisementsFromDb;


    /// <summary>
    /// Fetch job listings from database
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        advertisementsFromDb = await JobListingsService.FetchJobListings();
        advertisementList = JsonConvert.DeserializeObject<IEnumerable<Advertisement>>(advertisementsFromDb);
    }


    
    
}

