@page "/"

<PageTitle>Index</PageTitle>

<div class="contentWrapper">
    <h1>ANGSTFRI JOBBSØKING</h1>

    <picture>
        <img src="img/LETT-5.png" class="logo" />
    </picture>

    <form>
        <input type="text"/>
        <button>Søk</button>
    </form>
</div>


