.contentWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
}

.contentWrapper h1 {
    font-size: xx-large;
}

.contentWrapper picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentWrapper img {
    max-width: 60%;
}

::deep form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
.contentWrapper form input {

    flex-grow: 2;
    border: none;
    border-radius: 25px 0% 0% 20px;
}
.contentWrapper form button {
    border: none;
    background-color: white;
    border-radius: 0% 25px 25px 0%
}

.listings {
    margin-top: 2%;
}

::deep .fullAdvertisementWrapper {
    background-color: #03787d;
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-style: dashed;
    padding: 8px 0;
    z-index: 1;
    position: absolute;
    opacity: 0.95;
}
