@page "/userpreference"
@using BlazorView.Data
@using Newtonsoft.Json
@using BlazorView.Pages.Components

@inject FetchUserFromDb UserListingService

<h3>
    Pålogget bruker: @loggedInUser.Name
</h3>

@if (showUsers)
{
    <GetUser />
}

<ShowNotLikedListings />

<ShowLikedListings />

<ShowLocations />

<h3>Legg til ny bruker</h3>
<EditForm Model="formModel">
    <input type="text" @bind-value="name" @bind-value:event="oninput" />
    <button @onclick="submitUser">Legg til bruker</button>
</EditForm>



@code {

    [CascadingParameter]
    public LoggedInUserService? loggedInUser { get; set; }

    private class FormModel
    {
        public FormModel()
        {
        }
    }

    /*
    Post user to db
    */
    FormModel formModel = new();
    string name;
    int counter;
    bool showUsers = true;
    private async Task submitUser()
    {
        showUsers = false;
        counter++;

        User user = new User();
        user.Name = name;
        UserListingService.PostUser(user);
        await Task.Delay(5);
        showUsers = true;

    }
}

