@page "/userpreference"
@using BlazorView.Data
@using Newtonsoft.Json
@using BlazorView.Pages.Components


@inject FetchUserFromDb UserListingService

@if (showUsers)
{
    <GetUser />
}


<h3>Legg til ny bruker</h3>
<p>@counter</p>
<EditForm Model="formModel">
    <input type="text" @bind-value="name" @bind-value:event="oninput" />
    <button @onclick="submitUser">Legg til bruker</button>
</EditForm>

@code {

    private class FormModel
    {
        public FormModel()
        {
        }
    }

    /*
    Post user to db
    */
    FormModel formModel = new();
    string name;
    int counter;
    bool showUsers = true;
    private async void submitUser()
    {
        showUsers = false;
        counter++;

        User user = new User();
        user.Name = name;
        UserListingService.PostUser(user);
        showUsers = true;
    }
}

