@page "/userpreference"
@using BlazorView.Data
@using Newtonsoft.Json
@using BlazorView.Pages.Components

@inject FetchUserFromDb UserListingService
@inject ILogger<UserPreference> logger

<h3>
    Pålogget bruker: @LoggedInUserService.Name
</h3>
<p>@showLocations</p>
@if (showUsers)
{
    <GetUser />
}

<ShowNotLikedListings />

<ShowLikedListings />
@if (showLocations)
{
    <ShowLocations showLocations="@locationSelected" />
}



<h3>Legg til ny bruker</h3>
<EditForm Model="formModel">
    <input type="text" @bind-value="name" @bind-value:event="oninput" />
    <button @onclick="submitUser">Legg til bruker</button>
</EditForm>



@code {



    private bool showLocations = true;

    private class FormModel
    {
        public FormModel()
        {
        }
    }

    /*
    Post user to db
    */
    FormModel formModel = new();
    string name;
    bool showUsers = true;
    private async Task submitUser()
    {
        logger.LogInformation("Submitting user with name: {0} to be saved to Database, time: {time}", name, DateTimeOffset.Now);
        showUsers = false;

        User user = new User();
        user.Name = name;
        UserListingService.PostUser(user);
        await Task.Delay(5);
        showUsers = true;

    }

    private async Task locationSelected()
    {
        showLocations = false;
        await Task.Delay(5);
        showLocations = true;
    }
}

