.userPrefSection {
    width: 80rem;
    background-color: #00989e;
    padding: 1%;
}

    .userPrefSection .sectionButton {
        border-style: none;
        background-color: #00989e;
        font-weight:800;
        font-size: larger;
    }

        .userPrefSection .sectionButton:hover {
            border-bottom-style: solid;
            border-color: black;
        }

        #userPrefLoggedOnUser {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

.showSectionDiv {
    animation-name: showSection;
    animation-duration: 2s;
    border-bottom-style: dashed;
}

@keyframes showSection {
    from {
        opacity: 0;
        display: none;
    }

    to {
        display: initial;
        opacity: 1;
    }
}

