.listing {
    border-style: solid;
    margin-bottom: 2%;
}

    .listing .listingTitle {
        font-weight: 800;
        font-size: x-large;
        margin: 2%;
        width: fit-content;
        background-color: #00989e;
        text-decoration: none;
        border: none;
    }