@using BlazorView.Data
@inject FetchUserFromDb userFromDb

@if (showListing && !loggedInUser.uninterests.Contains(item.Uuid))
    {    
    <section class="listing">
        <h5>@item.Title</h5>
        <p>@((MarkupString)item.Description)</p>
        @if (loggedInUser.interests.Contains(item.Uuid))
        {
            <button @onclick="deleteLikes">Likt</button>

        }
        else
        {
            <button @onclick="saveLikes">Liker</button>
        }
        @if (loggedInUser.uninterests.Contains(item.Uuid))
        {
        <button @onclick="deleteNotLikes">Markert ikke likt</button>
        }
        else {
        <button @onclick="saveNotLikes">Liker ikke</button>
        }
    </section>
    }


@code {
    bool showListing = true;

    [Parameter]
    public Advertisement? item { get; set; }

    [CascadingParameter]
    public LoggedInUserService? loggedInUser { get; set; }

    private void saveLikes()
    {
        showListing = false;

        //Interests
        Interest interest = new();
        interest.userGuid = loggedInUser.Id;
        interest.advertisementUuid = item.Uuid;

        userFromDb.PostInterest(interest);
        loggedInUser.interests.Add(item.Uuid);
        Task.Delay(5);
        showListing = true;
    }

    private void saveNotLikes()
    {
        showListing = false;

        //Interests
        Interest interest = new();
        interest.userGuid = loggedInUser.Id;
        interest.advertisementUuid = item.Uuid;

        userFromDb.PostUninterest(interest);
        loggedInUser.uninterests.Add(item.Uuid);
        Task.Delay(5);
        showListing = true;
    }

    private void deleteNotLikes()
    {
        showListing = false;

        Interest interest = new();
        interest.userGuid = loggedInUser.Id;
        interest.advertisementUuid = item.Uuid;

        userFromDb.DeleteUninterest(interest);
        loggedInUser.uninterests.Remove(item.Uuid);
        Task.Delay(5);
        showListing = true;
    }

    private void deleteLikes()
    {
        showListing = false;

        Interest interest = new();
        interest.userGuid = loggedInUser.Id;
        interest.advertisementUuid = item.Uuid;

        userFromDb.DeleteInterest(interest);
        loggedInUser.interests.Remove(item.Uuid);
        Task.Delay(5);
        showListing = true;
    }

}

