@using BlazorView.Data

<div class="fullAdvertisementWrapper" style="@fullListingStyle">
    @if (advertisementToShow != null)
    {
        <h3>@advertisementToShow.Title</h3>
        <p>@((MarkupString)advertisementToShow.Description)</p>
        <button @onclick="closeFullListing">Lukk</button>
        <a href="https://arbeidsplassen.nav.no/stillinger/stilling/@advertisementToShow.Uuid" target="_blank">Se stillingen på NAV</a>
    }

</div>

@code {
    [Parameter]
    public Advertisement advertisementToShow { get; set; }

    [Parameter]
    public string fullListingStyle { get; set; }

    [Parameter]
    public EventCallback<bool> showFullAdvertisement { get; set; }

    private void closeFullListing()
    {
        showFullAdvertisement.InvokeAsync();
    }
}

