@using BlazorView.Data
@inject NavigationManager _nav

<div class="fullAdvertisementWrapper" style="@FullListingStyle">
    @if (AdvertisementToShow != null)
    {
        <h3>@AdvertisementToShow.Title</h3>
        <p>@((MarkupString)AdvertisementToShow.Description)</p>
        <button @onclick="closeFullListing">Lukk</button>
        <a href="https://arbeidsplassen.nav.no/stillinger/stilling/@AdvertisementToShow.Uuid" target="_blank">Se stillingen på NAV</a>
    }

</div>

@code {
    [Parameter]
    public Advertisement AdvertisementToShow { get; set; }

    [Parameter]
    public string FullListingStyle { get; set; }

    [Parameter]
    public EventCallback<bool> ShowFullAdvertisement { get; set; }

    private void closeFullListing()
    {
        ShowFullAdvertisement.InvokeAsync();
    }
}

