@using BlazorView.Data
@using Newtonsoft.Json
@using BlazorView.Pages.Components


@inject FetchUserFromDb UserListingService

    <SelectUser users ="users"/>


    <h3>Brukerpreferanser :</h3>
    @foreach (var item in users)
    {
        <p>@item.Name</p>
        <p>@item.Id</p>
    }


    @code {

        /*
        Fetch user from db
        */
        IEnumerable<User> users = new List<User>();
        string usersFromDb;

        protected override async Task OnInitializedAsync()
        {
            usersFromDb = await UserListingService.FetchUser();
            users = JsonConvert.DeserializeObject<IEnumerable<User>>(usersFromDb);
        }

    }

