@using BlazorView.Data
@using Newtonsoft.Json
@using BlazorView.Pages.Components


@inject FetchUserFromDb UserListingService

<h3>Brukerpreferanser :</h3>
<p>@usersFromDb</p>
<p>@counter</p>
@foreach (var item in users)
{
    <p>@item.Name</p>
}

@code {

    /*
Fetch user from db
*/
    IEnumerable<User> users = new List<User>();
    string usersFromDb;
    int counter;

    protected override async Task OnInitializedAsync()
    {
        usersFromDb = await UserListingService.FetchUser();
        users = JsonConvert.DeserializeObject<IEnumerable<User>>(usersFromDb);
    }


}

