@using BlazorView.Data
@using Newtonsoft.Json

@inject FetchUserFromDb fetchUserFromDb

<h3>Legg til ny bruker</h3>
<p>@counter</p>
<EditForm Model="formModel">
    <input type="text" @bind-value="name" @bind-value:event="oninput" />
    <button @onclick="submitUser" >Legg til bruker</button>
</EditForm>
@code {
    private class FormModel
    {
        public FormModel()
        {
        }
    }

    FormModel formModel = new();
    string name;
    int counter;
    private void submitUser()
    {
        counter++;

        User user = new User();
        user.Name = name;

        fetchUserFromDb.PostUser(user);
    }

}

