@using BlazorView.Data
@inject NavigationManager navigationManager



<h3>Velg aktiv bruker:</h3>
<EditForm Model="@userModel">
    <select @bind="selectedUser">
        <option value="">Velg bruker</option>
        @foreach (var item in users)
        {
            <option value="@item.Name">@item.Name</option>
        }
    </select>
    <button @onclick="selectUser">Velg bruker</button>

</EditForm>



@code {
    private class UserModel
    {
        public UserModel()
        {

        }
    }

    UserModel userModel = new();
    String selectedUser;
    User user = new();

    [Parameter]
    public IEnumerable<User>? users { get; set; }

    [CascadingParameter]
    public LoggedInUserService? loggedInUser { get; set; }

    private void selectUser()
    {
        if (selectedUser != null)
        {
            findSelectedUser();

            loggedInUser.Name = user.Name;
            loggedInUser.Id = user.Id;

            navigationManager.NavigateTo("/");
        }

    }

    private void findSelectedUser()
    {
        foreach (var item in users)
        {
            if (item.Name.Equals(selectedUser))
            {
                user.Name = item.Name;
                user.Id = item.Id;
            }
        }
    }
}

