@using BlazorView.Data
@inject NavigationManager NavigationManager
@inject ILogger<SelectUser> Logger


<h5>Velg aktiv bruker:</h5>
@if (Users != null)
{
<EditForm Model="@_userModel">
    <select @bind="SelectedUser">

        <option value="">Velg bruker</option>
        @foreach (var Item in Users)
        {
            <option value="@Item.Name">@Item.Name</option>
        }
    </select>
    <button @onclick="SelectUserProfile">Velg bruker</button>

</EditForm>
}
else
{
        <p>Det er desverre utfordringer med å nå bruker databasen akkurat nå. Prøv igjen senere.</p>
}




@code {
    private class UserModel
    {
        public UserModel()
        {

        }
    }

    private UserModel _userModel = new();
    String SelectedUser;
    User User = new();

    [Parameter]
    public IEnumerable<User>? Users { get; set; }



    private void SelectUserProfile()
    {
        if (SelectedUser != null)
        {
            FindSelectedUser();

            Logger.LogInformation("Selecting new user as logged in user, name: {0}, time: {time}", User.Name, DateTimeOffset.Now);

            LoggedInUserService.Name = User.Name;
            LoggedInUserService.Id = User.Id;

            NavigationManager.NavigateTo("/");
        }

    }

    private void FindSelectedUser()
    {
        foreach (var item in Users)
        {
            if (item.Name.Equals(SelectedUser))
            {
                User.Name = item.Name;
                User.Id = item.Id;
            }
        }
    }
}

