@using BlazorView.Data
@using Newtonsoft.Json

@inject FetchJobListingsFromDb JobListingsService
@inject FetchUserFromDb UserListingService

<h3>Stillinger som er markert som likt:</h3>
@foreach (var item in advertisementList)
{
    if (loggedInUser.interests.Contains(item.Uuid))
    {
        <p>@item.Title</p>
        <button @onclick="() => RemoveFromInterests(item)">Fjern fra likt kategori</button>
    }
}
@if (loggedInUser.interests == null || loggedInUser.interests.Count() == 0)
{
        <p>Ingen stillinger er markert som likt</p>
}

@code {
    IEnumerable<Advertisement> advertisementList = new List<Advertisement>();
    string advertisementsFromDb;

    [CascadingParameter]
    public LoggedInUserService? loggedInUser { get; set; }

    //Interests
    string? interestsFromDb;
    IEnumerable<Interest> interests = new List<Interest>();
    List<string> commonInterests = new List<string>();

    /// <summary>
    /// Fetch job listings from database
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        advertisementsFromDb = await JobListingsService.FetchJobListings();
        advertisementList = JsonConvert.DeserializeObject<IEnumerable<Advertisement>>(advertisementsFromDb);

        // Fetch uninterests TODO: Try to make this global at some point
        interestsFromDb = await UserListingService.FetchInterest();
        interests = JsonConvert.DeserializeObject<IEnumerable<Interest>>(interestsFromDb);

        foreach (var item in interests)
        {
            if (item.userGuid == loggedInUser.Id)
            {
                commonInterests.Add(item.advertisementUuid);
            }
        }
        loggedInUser.interests = commonInterests;
    }

    private void RemoveFromInterests(Advertisement advertisement)
    {
        Interest interest = new();
        interest.userGuid = loggedInUser.Id;
        interest.advertisementUuid = advertisement.Uuid;

        UserListingService.DeleteInterest(interest);
        loggedInUser.interests.Remove(advertisement.Uuid);
    }
}

