@using BlazorView.Data
@using Newtonsoft.Json
@inject FetchLocationsFromDb LocationService

<h3>Kommuner:</h3>
<EditForm Model="locationModel">
    <select @bind="selectedLocation">
        <option value="">Velg kommune</option>
        @foreach (var item in locations)
            {
                <option value="@item.Id">@item.Municipality</option>
            }
    </select>
    <button @onclick="selectLocation">Velg kommune</button>

</EditForm>


@code {
    private class LocationModel
    {

    }
    LocationModel locationModel = new();
    int selectedLocation;
    string? locationsFromDb;
    IEnumerable<Location> locations = new List<Location>();

    protected override async Task OnInitializedAsync()
    {
        locationsFromDb = await LocationService.FetchLocations();
        locations = JsonConvert.DeserializeObject<IEnumerable<Location>>(locationsFromDb);
    }

    private void selectLocation()
{

}
}

