@inherits LayoutComponentBase

@using BlazorView.Data
@using Newtonsoft.Json

@inject FetchUserFromDb UserListingService

    <PageTitle>BlazorView</PageTitle>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
        <div class="mainFooter">
            <MainFooter />
        </div>
    </div>

@code{

    //Interests
    string? interestsFromDb;
    IEnumerable<Interest> interests = new List<Interest>();
    List<string> commonInterests = new List<string>();

    //Uninterests
    string? uninterestsFromDb;
    IEnumerable<Interest> uninterests = new List<Interest>();
    List<string> commonUninterests = new List<string>();

    //Users
    IEnumerable<User> users = new List<User>();
    string usersFromDb;


    protected override async Task OnInitializedAsync()
    {

        usersFromDb = await UserListingService.FetchUser();
        users = JsonConvert.DeserializeObject<IEnumerable<User>>(usersFromDb);

        if (users.Count() == 0)
        {
            User newUser = new();
            newUser.Name = "Bruker";
            UserListingService.PostUser(newUser);

            LoggedInUserService.Name = newUser.Name;
        }

        if (LoggedInUserService.Name == null)
        {
            LoggedInUserService.Name = users.First().Name;
            LoggedInUserService.Id = users.First().Id;
        }

        // Interests
        interestsFromDb = await UserListingService.FetchInterest();
        interests = JsonConvert.DeserializeObject<IEnumerable<Interest>>(interestsFromDb);

        @if (LoggedInUserService.interests != null)
            {
                LoggedInUserService.interests.Clear();
            }

        foreach (var item in interests)
        {
            if (item.userGuid == LoggedInUserService.Id)
            {
                commonInterests.Add(item.advertisementUuid);
            }
        }
        LoggedInUserService.interests = commonInterests;

        // Uninterests
        uninterestsFromDb = await UserListingService.FetchUninterest();
        uninterests = JsonConvert.DeserializeObject<IEnumerable<Interest>>(uninterestsFromDb);

        if (LoggedInUserService.uninterests != null)
        {
            LoggedInUserService.uninterests.Clear();
        }
        foreach (var item in uninterests)
        {
            if (item.userGuid == LoggedInUserService.Id)
            {
                commonUninterests.Add(item.advertisementUuid);
            }
        }
        LoggedInUserService.uninterests = commonUninterests;

    }
}

