/* _content/BlazorView/Pages/Components/DisplayFullListing.razor.rz.scp.css */
/* _content/BlazorView/Pages/Components/DisplayListing.razor.rz.scp.css */
.listing[b-2gdzlh0gqm] {
    border-style: solid;
    margin-bottom: 2%;
}

    .listing .listingTitle[b-2gdzlh0gqm] {
        font-weight: 800;
        font-size: x-large;
        margin: 2%;
        width: fit-content;
        background-color: #00989e;
        text-decoration: none;
        border: none;
    }

.advButton[b-2gdzlh0gqm] {
    background-color: #00989e;
    width: 5%;
    margin:0.5rem;
    border-style: none;
}

    .advButton img[b-2gdzlh0gqm] {
        width: 100%;
        height: 100%;
    }
/* _content/BlazorView/Pages/index.razor.rz.scp.css */
.contentWrapper[b-dwcektb1l1] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #00989e;
}

.contentWrapper h1[b-dwcektb1l1] {
    font-size: xx-large;
}

.contentWrapper picture[b-dwcektb1l1] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentWrapper img[b-dwcektb1l1] {
    max-width: 60%;
}

[b-dwcektb1l1] form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
.contentWrapper form input[b-dwcektb1l1] {

    flex-grow: 2;
    border: none;
    border-radius: 25px 0% 0% 20px;
}
.contentWrapper form button[b-dwcektb1l1] {
    border: none;
    background-color: white;
    border-radius: 0% 25px 25px 0%
}

.listings[b-dwcektb1l1] {
    margin-top: 2%;
}

[b-dwcektb1l1] .fullAdvertisementWrapper {
    background-color: #03787d;
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-style: dashed;
    padding: 8px 0;
    z-index: 1;
    position: absolute;
    opacity: 0.95;
}

/* _content/BlazorView/Shared/MainLayout.razor.rz.scp.css */
body[b-ivxfbxz1bn] {
    height: 100%;
}

.page[b-ivxfbxz1bn] {
    position: relative;
    background-color: #00989e;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas:
        "header header nav"
        "body body nav"
        "footer footer footer";
}

#logo[b-ivxfbxz1bn] {
    max-height:5%;
}


.sidebar[b-ivxfbxz1bn] {
    grid-area: nav;
}


.mainFooter[b-ivxfbxz1bn] {
   grid-area: footer;
   justify-self: end;
}

main[b-ivxfbxz1bn] {
    grid-area: body;
    justify-self: center;
}


.sidebar[b-ivxfbxz1bn] {
    background-color: #00989e;
}
/* _content/BlazorView/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-iiofiewy08] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-iiofiewy08] {
    height: 3.5rem;
}

.navbar-brand[b-iiofiewy08] {
    font-size: 1.1rem;
}

.oi[b-iiofiewy08] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-iiofiewy08] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    background-color: #56566f;
}

    .nav-item:first-of-type[b-iiofiewy08] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-iiofiewy08] {
        padding-bottom: 1rem;
    }

    .nav-item[b-iiofiewy08]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-iiofiewy08]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-iiofiewy08]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

    .navbar-toggler[b-iiofiewy08] {
        /*display: none;*/
    }

    .collapse[b-iiofiewy08] {
        /* Never collapse the sidebar for wide screens */
        /*display: block;*/
    }
    
    .nav-scrollable[b-iiofiewy08] {
        /* Allow sidebar to scroll for tall menus */
        /*height: calc(100vh - 3.5rem);
        overflow-y: auto;*/
    }


